@import url('https://fonts.googleapis.com/css?family=Life+Savers:700');
@import url('https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css');

.App {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-auto-rows: 100px;
  background: lightskyblue;
  padding: 20px;
  margin: 0;
}

.Door {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: white;
  border: 50px solid crimson;
  border-top: none;
  border-bottom: none;
  transition: border-width 1s ease;
  border-radius: 15px;
  font-family: Life Savers;
  text-align: center; /* !! */
  font-size: 20px;
  letter-spacing: 1px;
}

.open {
  border-width: 0;
  color: crimson;
}

h1 {
  grid-column: span 4;
  font-family: Life Savers;
  font-size: 35px;
  letter-spacing: 1px;
}
